<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="https://images.emojiterra.com/twitter/v13.1/512px/2753.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      Griphus
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="">Home</a>
        <button (click)="mostraNumeriP()" style="border:none; background-color: transparent;">Numeri primi</button>
        <button (click)="mostraGriphus()" style="border:none; background-color: transparent;">Criptazione e decriptazione</button>
      </div>
    </div>
  </div>
</nav>
